<div class="grooy-image">
  <div class="container background-green p-5">
    <div class="row">
      <div class="col-12 show-hide-message" *ngIf="message">
        <div [ngClass]="showMessage">
          {{message}}
        </div>
      </div>
    </div>
    <div class="row" *ngIf="profileMatch">
      <div class="col-12">
        <h2 class="page-header">{{ username }} Profile Page</h2>
      </div>
    </div>
    <div class="row" *ngIf="profileMatch">
      <div class="col-12">
        <ul class="list-group">
          <li class="list-group-item">Username: {{ username }}</li>
          <li class="list-group-item">Email: {{ email }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>