<div class="container">
  <h1 class="page-header">Edit Comic Book</h1>
  <div class="row">
    <div class="col-12 show-hide-message" *ngIf="message">
      <div [ngClass]="showMessage">
        {{message}}
      </div>
    </div>
  </div>


  <!-- Edit User Form -->

  <form (submit)="onEditProfileFormSubmit()" *ngIf="!loading">
    <!-- Username Input -->
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name="username" class="form-control" placeholder="*New username" [(ngModel)]="user.username" />
    </div>

    <!-- Email Input -->
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" class="form-control" placeholder="*New email" [(ngModel)]="user.email" />
    </div>

    <!-- Password Input -->
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" placeholder="*New password" [(ngModel)]="user.password" />
    </div>


    <!-- Delete profile -->
    <!--    <a [routerLink]="['/delete-comic/', comic._id]"><button  [disabled]="lockSubmit"  type="button" name="button" class="btn btn-danger">Delete</button></a>
-->
    <!-- Go Back Button -->
    <button [disabled]="lockSubmit" type="button" name="button" (click)="goBack()" class="btn btn-warning">Go Back</button>
    <!-- Submit Button -->
    <button [disabled]="lockSubmit" type="submit" name="edit" (click)="onEditProfileFormSubmit()" class="btn btn-success">Edit Profile</button>

  </form>
</div>