<div class="container">
  <h1 class="page-header">Comic Books</h1>
  <div class="row">
    <!-- <div class="col-12 show-hide-message">
      <div [ngClass]="showMessage">
        {{message}}
      </div>
    </div> -->
    <div class="col-2">
      <button type="button" name="button" class="btn btn-warning" *ngIf="!newPost" (click)="newComicForm()">
        <i class="far fa-plus-square"></i>
        &nbsp;New Comic
      </button>
    </div>
    <div class="col-2">
      <button type="button" [disabled]="loadingComics" name="button" class="btn btn-default" *ngIf="!newPost" (click)="reloadComics()">
        <i class="fas fa-redo"></i>
        &nbsp;Reload
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12" *ngIf="!newPost">
      <div class="card">
        <h3 class="card-header">Comic Title</h3>
        <div class="card-block">
          <!-- card block -->
          <p class="card-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
            book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
        <!-- end card block -->
        <!-- card footer -->
        <div class="card-footer text-muted">
          <p>
            <strong>Published by: </strong>Dejan Jankov</p>
          <p>
            <strong>Date: </strong>
          </p>
          <div>
            <p>
              <strong>Likes: </strong>22</p>
            <p>
              <strong>Dislikes: </strong>5</p>
          </div>
          <a href="#">
            <button type="button" name="button" class="btn btn-sm btn-info">Edit</button>
          </a>
          <a href="#">
            <button type="button" name="button" class="btn btn-sm btn-danger">Delete</button>
          </a>

          <!-- likes dropdown -->
          <div class="dropdown">
            <button type="button" name="button" class="btn btn-sm btn-success dropbtn">
              <i class="far fa-thumbs-up"></i>
              &nbsp;Like
            </button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>

          <!-- dislikes dropdown -->
          <div class="dropdown">
            <button type="button" name="button" class="btn btn-sm btn-warning">
              <i class="far fa-thumbs-down"></i>
              &nbsp;Dislike
            </button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        </div>
        <!-- end card footer -->

        <ul class="list-group">
            <li class="list-group-item">
                <button type="button"  name="button" class="btn btn-sm btn-danger"  (click)="writeComment()">Comment</button>
               <!-- <form class="form-group">
                  <textarea name="comment" rows="10" cols="35" class="form-control"></textarea>
                  <button type="button"  name="button" class="btn btn-sm btn-info">Submit Post</button>
                  <button type="button"  name="button" class="btn btn-sm btn-danger">Cancel</button>
                </form>
              -->
            </li>
          </ul>
      </div>
      <!-- end card -->
    </div>
    <!-- end col12 -->
  </div>
  <!-- end row -->
</div>
<!-- end container -->