<div class="grooy-image">
  <div class="container background-green p-5">
    <h1 class="page-header mb-4">Comic Books</h1>
    <div class="row">
      <div class="col-12 show-hide-message">
        <div [ngClass]="showMessage">
          {{message}}
        </div>
      </div>
      <div class="col-2">
        <button type="button" name="button" class="btn btn-warning" *ngIf="!newComic" (click)="newComicForm()">
          <i class="far fa-plus-square"></i>
          &nbsp;New Comic
        </button>
      </div>
      <div class="col-2">
        <button type="button" [disabled]="loadingComics" name="button" class="btn btn-default" *ngIf="!newComic" (click)="reloadComics()">
          <i class="fas fa-redo"></i>
          &nbsp;Reload
        </button>
      </div>
    </div>
    <!-- New Comic Form -->

    <form [formGroup]="comicForm" name="comicForm" (submit)="onComicFormSubmit()" *ngIf="newComic">
      <!-- Title Input -->
      <div class="form-group">
        <label for="title">Title</label>
        <div [ngClass]="{'has-success': comicForm.controls.title.valid, 'has-error': comicForm.controls.title.dirty && comicForm.controls.title.errors}">
          <input type="text" name="title" class="form-control" placeholder="*Comic Title" autocomplete="off" formControlName="title"
          />
          <ul class="help-block">
            <li *ngIf="comicForm.controls.title.dirty && comicForm.controls.title.errors?.required">This field is required.</li>
            <li *ngIf="(comicForm.controls.title.dirty && comicForm.controls.title.errors?.minlength) || (comicForm.controls.title.dirty && comicForm.controls.title.errors?.maxlength)">Min length: 3, Max length: 80</li>
            <li *ngIf="comicForm.controls.title.dirty && comicForm.controls.title.errors?.alphaNumericValidation">Must be a letter or number</li>
          </ul>
        </div>
      </div>

      <!-- Image Input -->
      <div class="form-group">
        <label for="image">Image</label>
        <br>
          <input type="file" (change)="imageChange($event)"  name="image"  placeholder="Upload image"
            accept="image/*">
      </div>

      <!-- Creator Input -->
      <div class="form-group">
        <label for="creator">Creator</label>
        <div [ngClass]="{'has-success': comicForm.controls.creator.valid, 'has-error': comicForm.controls.creator.dirty && comicForm.controls.creator.errors}">
          <input type="text" name="creator" class="form-control" placeholder="*Comic creator" autocomplete="off" formControlName="creator"
          />
          <ul class="help-block">
            <li *ngIf="comicForm.controls.creator.dirty && comicForm.controls.creator.errors?.required">This field is required.</li>
          </ul>
        </div>
      </div>

      <!-- Writer Input -->
      <div class="form-group">
        <label for="writer">Writer</label>
        <div [ngClass]="{'has-success': comicForm.controls.writer.valid, 'has-error': comicForm.controls.writer.dirty && comicForm.controls.writer.errors}">
          <input type="text" name="writer" class="form-control" placeholder="*Comic writer" autocomplete="off" formControlName="writer"
          />
          <ul class="help-block">
            <li *ngIf="comicForm.controls.writer.dirty && comicForm.controls.writer.errors?.required">This field is required.</li>
          </ul>
        </div>
      </div>

      <!-- Artist Input -->
      <div class="form-group">
        <label for="artist">Artist</label>
        <div [ngClass]="{'has-success': comicForm.controls.artist.valid, 'has-error': comicForm.controls.artist.dirty && comicForm.controls.artist.errors}">
          <input type="text" name="artist" class="form-control" placeholder="*Comic artist" autocomplete="off" formControlName="artist"
          />
          <ul class="help-block">
            <li *ngIf="comicForm.controls.artist.dirty && comicForm.controls.artist.errors?.required">This field is required.</li>
          </ul>
        </div>
      </div>


      <!-- Publisher Input -->
      <div class="form-group">
        <label for="publisher">Publisher</label>
        <div [ngClass]="{'has-success': comicForm.controls.publisher.valid, 'has-error': comicForm.controls.publisher.dirty && comicForm.controls.publisher.errors}">
          <input type="text" name="publisher" class="form-control" placeholder="*Comic publisher" autocomplete="off" formControlName="publisher"
          />
          <ul class="help-block">
            <li *ngIf="comicForm.controls.publisher.dirty && comicForm.controls.publisher.errors?.required">This field is required.</li>
          </ul>
        </div>
      </div>

      <!-- Status Input -->
      <div class="form-group">
        <label for="status">Status</label>
        <div [ngClass]="{'has-success': comicForm.controls.status.valid, 'has-error': comicForm.controls.status.dirty && comicForm.controls.status.errors}">
          <input type="text" name="status" class="form-control" placeholder="*Comic status" autocomplete="off" formControlName="status"
          />
          <ul class="help-block">
            <li *ngIf="comicForm.controls.status.dirty && comicForm.controls.status.errors?.required">This field is required.</li>
          </ul>
        </div>
      </div>

      <!-- Comic Number Input -->
      <div class="form-group">
        <label for="number">Comic number</label>
        <div [ngClass]="{'has-success': comicForm.controls.number.valid, 'has-error': comicForm.controls.number.dirty && comicForm.controls.number.errors}">
          <input type="text" name="number" class="form-control" placeholder="*Comic published year" autocomplete="off" formControlName="number"
          />
          <ul class="help-block">
            <li *ngIf="comicForm.controls.number.dirty && comicForm.controls.number.errors?.required">This field is required.</li>
          </ul>
        </div>
      </div>

      <!-- Original Comic Number Input -->
      <div class="form-group">
        <label for="originalNumber">Original comic number</label>
        <div [ngClass]="{'has-success': comicForm.controls.originalNumber.valid, 'has-error': comicForm.controls.originalNumber.dirty && comicForm.controls.originalNumber.errors}">
          <input type="text" name="originalNumber" class="form-control" placeholder="*Comic published year" autocomplete="off" formControlName="originalNumber"
          />
          <ul class="help-block">
            <li *ngIf="comicForm.controls.originalNumber.dirty && comicForm.controls.originalNumber.errors?.required">This field is required.</li>
          </ul>
        </div>
      </div>

      <!-- Year Published Input -->
      <div class="form-group">
        <label for="yearPublished">Year published</label>
        <div [ngClass]="{'has-success': comicForm.controls.yearPublished.valid, 'has-error': comicForm.controls.yearPublished.dirty && comicForm.controls.yearPublished.errors}">
          <input type="text" name="yearPublished" class="form-control" placeholder="*Comic published year" autocomplete="off" formControlName="yearPublished"
          />
          <ul class="help-block">
            <li *ngIf="comicForm.controls.yearPublished.dirty && comicForm.controls.yearPublished.errors?.required">This field is required.</li>
          </ul>
        </div>
      </div>

      <!-- Ganre Input -->
      <div class="form-group">
        <label for="ganre">Ganre</label>
        <div [ngClass]="{'has-success': comicForm.controls.ganre.valid, 'has-error': comicForm.controls.ganre.dirty && comicForm.controls.ganre.errors}">
          <input type="text" name="ganre" class="form-control" placeholder="*Comic ganre" autocomplete="off" formControlName="ganre"
          />
          <ul class="help-block">
            <li *ngIf="comicForm.controls.ganre.dirty && comicForm.controls.ganre.errors?.required">This field is required.</li>
          </ul>
        </div>
      </div>

      <!-- Go Back Button -->
      <button [disabled]="lockSubmit" type="button" name="button" (click)="goBack()" class="btn btn-warning">Go Back</button>
      <!-- Submit Button -->
      <button [disabled]="lockSubmit || !comicForm.valid" type="submit" name="button" (click)="onComicFormSubmit" class="btn btn-success">Submit</button>

    </form>

    <div class="row">
      <div class="col-12" *ngIf="!newPost">
        <div class="card" *ngFor="let comic of comicList">
          <h3 class="card-header">{{comic.title}} </h3>
          <div class="card-block">
            <!-- card block -->
            <div class="card-body row">
              <div class="col-lg-3 col-sm-12 mb-2 img-contain">
                <img src={{comic.image}} alt={{comic.image}} />
              </div>
              <div class="col-lg-3 col-sm-6">
                <ul class="list-group comic-info">
                  <li>
                    <strong>Creator:</strong> {{comic.creator}}</li>
                  <li>
                    <strong>Writer:</strong> {{comic.writer}}</li>
                  <li>
                    <strong>Artist: </strong> {{comic.artist}}</li>
                  <li>
                    <strong>Publisher:</strong> {{comic.publisher}} </li>
                  <li>
                    <strong>Status:</strong> {{comic.status}} </li>
                  <li>
                    <strong>Number:</strong> {{comic.number}}</li>
                  <li>
                    <strong>Original number:</strong> {{comic.originalNumber}}</li>
                  <li>
                    <strong>Year published:</strong> {{comic.yearPublished}}</li>
                  <li>
                    <strong>Ganre:</strong> {{comic.ganre}} </li>
                </ul>
              </div>
              <div class="col-lg-6 col-sm-12">
                <p>
                  <strong>Date: </strong> {{comic.publishedDate | date: 'dd.MMM.yyyy'}}
                </p>
                <div>
                  <p>
                    <span>
                      <strong>Likes: </strong>{{comic.likes}}</span>
    
                    <span>
                      <strong>Dislikes: </strong>{{comic.dislikes}}</span>
                  </p>
                </div>
                <a [routerLink]="['/edit-comics/', comic._id]">
                  <button type="button" name="button" class="btn btn-sm btn-info">Edit</button>
                </a>
                <a [routerLink]="['/delete-comic/', comic._id]">
                  <button type="button" name="button" class="btn btn-sm btn-danger">Delete</button>
                </a>
    
                <!-- likes dropdown -->
                <div class="dropdown">
                  <button type="button" name="button" class="btn btn-sm btn-success dropbtn" (click)="likeComic(comic._id)" [disabled]="comic.likedBy.indexOf(username) >= 0">
                    <i class="far fa-thumbs-up"></i>
                    &nbsp;Like
                  </button>
                  <div class="dropdown-content">
                    <a [routerLink]="['/user', liker]" *ngFor="let liker of comic.likedBy">{{liker}}</a>
                  </div>
                </div>
    
                <!-- dislikes dropdown -->
                <div class="dropdown">
                  <button type="button" name="button" class="btn btn-sm btn-warning" (click)="dislikeComic(comic._id)" [disabled]="comic.dislikedBy.indexOf(username) >= 0">
                    <i class="far fa-thumbs-down"></i>
                    &nbsp;Dislike
                  </button>
                  <div class="dropdown-content">
                    <a [routerLink]="['/user', disliker]" *ngFor="let disliker of comic.dislikedBy">{{disliker}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end card block -->

          <!-- Post Comment Box: Start -->
          <ul class="list-group">
            <li class="list-group-item">
              <!-- Post Comment Button -->
              <button type="button" name="button" class="btn btn-sm btn-danger" (click)="writeComment(comic._id)" [disabled]="newComment.indexOf(comic._id) > -1">Post Comment</button>
              <br />
              <br />
              <div *ngIf="newComment.indexOf(comic._id) > -1">

                <!-- Form: Comment Form Start -->
                <form [formGroup]="commentForm">
                  <!-- Textarea Input -->
                  <textarea name="comment" rows="5" cols="30" class="form-control" formControlName="comment"></textarea>
                  <!-- Validation -->
                  <div [ngClass]="{'has-success': !commentForm.controls.comment.errors && commentForm.controls.comment.dirty, 'has-error': commentForm.controls.comment.dirty && commentForm.controls.comment.errors}">
                    <ul class="help-block">
                      <li *ngIf="commentForm.controls.comment.errors?.required && commentForm.controls.comment.dirty">This field is required.</li>
                      <li *ngIf="(commentForm.controls.comment.errors?.maxlength && commentForm.controls.comment.dirty) ||(commentForm.controls.comment.errors?.minlength && commentForm.controls.comment.dirty)">Comment must be at least 3 character but no more than 150.</li>
                    </ul>
                  </div>
                  <!-- Post Button -->
                  <button [disabled]="!commentForm.valid || lockSubmit" type="submit" name="button" class="btn btn-sm btn-info" (click)="submitComment(comic._id)">Post</button>
                  <!-- Cancel Button -->
                  <button [disabled]="lockSubmit" type="button" name="button" class="btn btn-sm btn-danger" (click)="cancelComment(comic._id)">Cancel</button>
                </form>
                <!-- Form: Comment Form End -->

              </div>

              <!-- Show Comments -->
              <li *ngIf="showComments.indexOf(comic._id) === -1 && comic.comments.length > 0" class="list-group-item">
                <span (click)="expand(comic._id)">
                  Show comments&nbsp;&nbsp;
                  <i class="fas fa-comments"></i>
                </span>
              </li>

              <!-- Hide Comments -->
              <li *ngIf="showComments.indexOf(comic._id) > -1" class="list-group-item">
                <span (click)="collapse(comic._id)">
                  Hide Comments&nbsp;&nbsp;
                  <i class="far fa-comments"></i>
                </span>
              </li>

              <!-- Comment -->
              <div *ngIf="showComments.indexOf(comic._id) > -1">
                <li *ngFor="let comment of comic.comments" class="list-group-item">
                  <strong>{{ comment.commentator }}:</strong> {{ comment.comment }}
                </li>
              </div>
          </ul>
          <!-- Post Comment Box: End -->
        </div>
        <!-- end card -->
      </div>
      <!-- end col12 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>